<script src="__PUBLIC__/javascripts/jquery.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/nano-scroller/nano-scroller.js"></script>
<script src="__PUBLIC__/javascripts/template-script.min.js"></script>
<script src="__PUBLIC__/javascripts/template-init.min.js"></script>
<script src="__PUBLIC__/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="__PUBLIC__/javascripts/examples/forms/validation.js"></script>
<script src="__PUBLIC__/vendor/chart-js/chart.min.js"></script>
<script src="__PUBLIC__/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="__PUBLIC__/javascripts/examples/dashboard.js"></script>
<script src="__PUBLIC__/vendor/select2/js/select2.min.js"></script>
<script src="__PUBLIC__/javascripts/examples/forms/advanced.js"></script>
</html>