{include file="Index/top"/}
<body>
<div class="wrap">
   {include file="Index/header"/}

    <div class="page-body">
        {include file="Index/left"/}
        <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">考案管理 </a></li>
                        <li><a>列表</a></li>
                    </ul>
                </div>
            </div>
            <div class="row animated fadeInRight">
                <div class="col-sm-12">
                  {if condition="(role()==1)"}
                   <h4 class="section-subtitle">
                   <a class="btn btn-wide  btn-lighter-1" href="{:url('Kaoan/add')}">添加考案</a>
                   </h4>
                   {/if}
                    <div class="panel">
                        <div class="panel-content">
                            <div class="table-responsive">
                                <table id="basic-table" class="data-table table table-striped nowrap table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>考案编号</th>
                                        <th>考案名称</th>
                                        <th>预定测验日期</th>
                                        <th>测验日期</th>

                                      
                                        <th>类别</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="case" id="vo"}
                                    <tr>
                                        <td>{$vo.Id}</td>
                                        <td>{$vo.number}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.firstdoneTime}</td>
                                        <td>{$vo.textTime}</td>
                                        
                                        <td>
                                           {if condition="$vo.category eq 1"}西医{elseif condition="$vo.category eq 2"/}牙医{elseif condition="$vo.category eq 3"/}药学{else/}中医{/if}
                                        </td>
                                        <td>
                                         <a href="{:url('Kaoan/station?caseId='.$vo.Id)}">考站({$vo.stationNumber})</a>&nbsp;&nbsp;&nbsp;
                                        {if condition="(role()==1)"}
                                        <a href="{:url('Kaoan/add?id='.$vo.Id)}">编辑</a>&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:;" data-target="#warning-modal" data-toggle="modal" onclick="del({$vo.Id})">删除</a>
                                        
                                        {/if}
                                        </td>
                                    </tr>
                                    {/volist}
                                    
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {include file="Index/alert"/}
        </div>
        {include file="Index/right"/}

        <a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
</div>
<script src="__PUBLIC__/javascripts/jquery.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/nano-scroller/nano-scroller.js"></script>
<script src="__PUBLIC__/javascripts/template-script.min.js"></script>
<script src="__PUBLIC__/javascripts/template-init.min.js"></script>
<script src="__PUBLIC__/vendor/data-table/media/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendor/data-table/media/js/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/javascripts/examples/tables/data-tables.js"></script>
<script>
function del(id){
    $("button[name='ok']").click(function(){
       url="{:url('Kaoan/delCase')}?caseId="+id;
       window.location.href=url;

    });
}
</script>
</body>

</html>
