{include file="Index/top"/}
<link rel="stylesheet" href="__PUBLIC__/alert/css/common.css"/>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script>
    var w,h,className;
      function getSrceenWH(){
        w = $(window).width();
        h = $(window).height();
        $('#dialogBg').width(w).height(h);
      }

      window.onresize = function(){
        getSrceenWH();
      }
      $(window).resize();

      $(function(){
        getSrceenWH();

        //显示弹框
        
        
        //关闭弹窗
        $('.claseDialogBtn').click(function(){
            $('#dialogBg').fadeOut(300,function(){
                $('#dialog').addClass('bounceOutUp').fadeOut();
            });
        });
      });
      function anpai(){
            className = $(this).attr('class');
            $('#dialogBg').fadeIn(300);
            $('#dialog').removeAttr('class').addClass('animated '+className+'').fadeIn();
        }
</script>
<body>
<div class="wrap">
   {include file="Index/header"/}

    <div class="page-body">
        {include file="Index/left"/}
        <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-table" aria-hidden="true"></i><a href="{:url('Kaoan/lst')}">考案管理 </a></li>
                        <li><a>考站列表</a></li>
                    </ul>
                </div>
            </div>
            <div class="row animated fadeInRight">
                <div class="col-sm-12">
                   
                   
                     <h4 class="section-subtitle">
                     <button class="btn btn-wide btn-lighter-1" onclick="history.go(-1);">返回</button>
                     {if condition="(role()==1)"}
                   <a class="btn btn-wide btn-lighter-1" href="{:url('Kaoan/addStation')}?caseId={$caseId}">添加考站</a>
                   <a class="btn btn-wide btn-lighter-1" href="{:url('Kaoan/caseGuidang')}?caseId={$caseId}">考案归档</a>
                   <?php if($togherMeeting){?>
                   <a class="btn btn-wide btn-lighter-1" href="javascript:;" onclick="anpai();">共识会安排</a>
                    <?php }?>
                    {/if}
                    </h4>
                    
                   
                    
                 
                  
                    
                    <div class="panel">
                        <div class="panel-content">
                            <div class="table-responsive">
                                <table id="basic-table" class="data-table table table-striped nowrap table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>考站名称</th>
                                        <th>前期作业人员</th>
                                        <th>中期打分人员</th>
                                         <th>SP</th>
                                        <th>测验核心</th>
                                       
                                        <th>物品准备</th>
                                     
                                      
                                         <th>考案设计</th>
                                         <th>考核表设计</th>

                                       
                                          
                                       
                                        <th>操作</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="station" id="vo"}
                                    <tr>
                                        <td>{$vo.Id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.teachName|default="未定"}</td>
                                        <td>{$vo.examierName |default="未定"}</td>
                                         <td>
                                           {if condition="$vo.isSp eq 1"}{$vo.spName}{else/}模拟假人{/if}
                                        </td>
                                        <td>{$vo.text_core}</td>
                                        
                                        <td>
                                         <a href="{:url('Kaoan/goods?stationId='.$vo.Id.'&type=2')}">考站</a>&nbsp;&nbsp;&nbsp;
                                         <a href="{:url('Kaoan/goods?stationId='.$vo.Id.'&type=1')}">考生</a>
                                         </td>
                                    <td>  
                                            {if condition="$vo.sheji neq 0"}已完成&nbsp;&nbsp;&nbsp;<a href="{:url('Kaoan/detail?detailId='.$vo.sheji)}">查看</a>{else/}未完成&nbsp;&nbsp;&nbsp;<a href="{:url('Kaoan/detail?stationId='.$vo.Id)}">添加</a>{/if}
                                        </td>
                                         <td>
                                             {if condition="$vo.kaohe eq 1"}已完成&nbsp;&nbsp;&nbsp;<a href="{:url('Kaoan/kaohe?stationId='.$vo.Id)}">查看</a>{else/}未完成&nbsp;&nbsp;&nbsp;<a href="{:url('Kaoan/kaohe?stationId='.$vo.Id)}">添加</a>{/if}
                                         </td>
                                         <td>
                                        {if condition="(role()==1)"}
                                        <a href="{:url('Kaoan/addStation?Id='.$vo.Id)}">编辑</a>&nbsp;&nbsp;&nbsp;
                                        {if condition="$vo.status eq 1"}
                                        已归档&nbsp;&nbsp;&nbsp;
                                        {else/}
                                        <a href="{:url('Kaoan/stationGuidang?stationId='.$vo.Id)}">归档</a>&nbsp;&nbsp;&nbsp;
                                        {/if}
                                        <a href="javascript:;" data-target="#warning-modal" data-toggle="modal" onclick="del({$vo.Id})">删除</a>

                                        {else/}
                                         <a href="{:url('Kaoan/addStation?Id='.$vo.Id)}">考生管理</a>
                                        {/if}
                                        </td>
                                        
                                    </tr>
                                    {/volist}
                                    
                                    
                                    </tbody>
                                </table>
                            </div>
                           <div id="dialogBg"></div>
                           <div id="dialog" class="animated" style="width:350px;height:270px;">
                             <img class="dialogIco" width="50" height="50" src="__PUBLIC__/alert/images/ico.png" alt="" />
                             <div class="dialogTop">
                             <a href="javascript:;" class="claseDialogBtn">关闭</a>
                           </div>
                            <form action="{:url('Kaoan/anpai')}" method="post" id="editForm3">
                               <ul class="editInfos">
                               <?php if(isset($caseId)){?>
                               <input type="hidden" name="caseId" value="{$caseId}" id="caseId"/>
                               <?php }?>
                 
                            <li><label><font color="#ff0000">* </font>地&nbsp;&nbsp;&nbsp;点：
                            <input type="text" name="location" required value="<?php if(isset($caseInfo['location']))echo  $caseInfo['location'];?>" class="ipt" id="location"/>
                            </label></li>
                            <li><label><font color="#ff0000">* </font>时&nbsp;&nbsp;&nbsp;间：
                            <input type="text" name="meetingDate" required  class="ipt" value="<?php if(isset($caseInfo['meetingDate']))echo  $caseInfo['meetingDate'];?>" 
                            id="calendar1" maxlength="19" onfocus="$(this).calendar()" readonly
                            /></label></li>
                            <li>
                               <label style="display:block">
                                <div style="float:left;margin-left:45px;">
                                  <font color="#ff0000">* </font>成&nbsp;&nbsp;&nbsp;员：</div>
                                     <select id="" class="selectpicker " multiple data-live-search="true" name="meetingPerson[]" required>
                                            <?php if(!empty($togherUser)){?>
                                                   {volist name="togherUser" id="vo"}
                                                   <option value="{$vo['id']}" <?php if(isset($caseInfo['meetingPerson']) && in_array($vo['id'],explode(',',$caseInfo['meetingPerson']))){ echo 'selected';}?>>{$vo.username}</option>
                                                   {/volist}
                                            <?php }?>     
                                                   </select>
                               </label></li>
                            <li><input type="submit" value="确认提交" class="submitBtn" /></li>
                        </ul>
                    </form>
                </div>
                        </div>
                    </div>
                </div>
            </div>
            {include file="Index/alert"/}
        </div>
        {include file="Index/right"/}

        <a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
</div>
<script src="__PUBLIC__/javascripts/jquery.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/nano-scroller/nano-scroller.js"></script>
<script src="__PUBLIC__/javascripts/template-script.min.js"></script>
<script src="__PUBLIC__/javascripts/template-init.min.js"></script>
<script src="__PUBLIC__/vendor/data-table/media/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendor/data-table/media/js/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/javascripts/examples/tables/data-tables.js"></script>
<script type="text/javascript" src="__PUBLIC__/vendor/select2/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/select2/css/bootstrap-select.css">
<script type="text/javascript" src="__PUBLIC__/date/jquery-calendar.js"></script> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/date/jquery-calendar.css" /> 
<style>
    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 71%;
}
</style>
<script>
function del(id){
    $("button[name='ok']").click(function(){
       url="{:url('Kaoan/delStation')}?stationId="+id;
       window.location.href=url;

    });
}
$(window).on('load', function () {
  $('.selectpicker').selectpicker({
                'selectedText': 'cat'
            });
});

</script>
</body>

</html>
