{include file="Index/top"/}
<script type="text/javascript">  
var sleep = 60, interval = null;
    window.onload = function ()
    {
        var btn = document.getElementById ('btn');
        btn.onclick = function ()
        {
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
            var mobile=$('#phone').val();
           if(!myreg.test(mobile)) 
            { 
               alert('请输入有效的手机号码！'); 
               return false; 
            }
            $.getJSON("{:url('Login/sendMessage')}",{mobile:mobile},function(data){

              if(data==2){
                var message='手机号不正确';
              }else if(data==1){
                 var message='请输入与当前用户绑定的手机号';
              }else if(data==3){
                 var message='一分钟之内不得重复发送验证码';
              }else if(data==4){
                   var message='您之前的验证码仍在有效期内，请查收';
              }else if(data==5){
                var message='短信发送成功';
              }else{
                 var message='发送失败';
             }
               alert(message);
         
         
          
             }); 
            if (!interval)
            {
                this.style.backgroundColor = 'rgb(243, 182, 182)';
                
                this.disabled = "disabled";
                this.style.cursor = "wait";
                this.value = "重新发送 (" + sleep-- + ")";
                interval = setInterval (function ()
                {
                    if (sleep == 0)
                    {
                        if (!!interval)
                        {
                            clearInterval (interval);
                            interval = null;
                            sleep = 60;
                            btn.style.cursor = "pointer";
                            btn.removeAttribute ('disabled');
                            btn.value = "免费获取验证码";
                            btn.style.backgroundColor = '';
                        }
                        return false;
                    }
                    btn.value = "重新发送 (" + sleep-- + ")";
                }, 1000);
            }
            
        }
    }
</script>  
<body>
<div class="wrap">
    {include file="Index/header"/}
    <div class="page-body">
        {include file="Index/left"/}
        <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">修改密码</a></li>
                  
                    </ul>
                </div>
            </div>
            <div class="row animated fadeInUp">
               
                <div class="col-sm-12">
                    <h4 class="section-subtitle">
                   <button class="btn btn-wide btn-lighter-1" onclick="history.go(-1);">返回</button>
                    </h4>
                    <div class="panel">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="changePassword" class="form-horizontal form-stripe" action="" method="post">
                                        
                                      
                                        <div class="form-group">
                                            <label for="mobile" class="col-sm-3 control-label">手机号<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="mobile" class="form-control" id="phone" name="phone"  required>
                                                <input type="button"  value="免费获取验证码" id="btn" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mobile" class="col-sm-3 control-label">验证码<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="mobile" class="form-control" id="notify" name="notify"  required>
                                            </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <label for="age" class="col-sm-3 control-label">新密码<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="password" name="password"  required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="age" class="col-sm-3 control-label">再输一次<span class="required">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="again" name="again"  required>
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
         {include file="Index/right"/}
        <a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
</div>

</body>

 {include file="Index/footer"/}
