<div class="modal fade" id="warning-modal" tabindex="-1" role="dialog" aria-labelledby="modal-warning-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header state modal-warning">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modal-warning-label"><i class="fa fa-exclamation"></i>警告</h4>
                                        </div>
                                        <div class="modal-body">
                                            你确定要删除吗？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" data-dismiss="modal" name="ok">确认</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal" name="no">取消</button>
                                        </div>
                                    </div>
                                </div>
            </div>